{:database-host "postgres"
 :database-name "unilogdb"
 :database-user "unilog_username"
 :database-password "unilog_password"
 :log-level :debug
 :tenant-database-prefix "u_"
 :instances {"example" {:hostname "localhost"
                        :port 8888}}
 :nrepl-bind "0.0.0.0"
 :flow-server-config-repo {:url "/tmp/here/akvo-flow-server-config"
                           :local-path "/tmp/here"}
 :fetch-delay 0
 :port 3030}
